<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">

			<% if logged_in? %>
        <p class='greet-user' >
					Hello, <%= current_user.name %>
				</p>
			<% end -%>

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse">
				<ul class="nav">
					<li><%= link_to "Blog", posts_path(:category=>"blog") %></li>
					<li><%= link_to "Experiments", posts_path(:category=>"experiments") %></li>
					<% if logged_in? %>
						<li><%= link_to "Add Post", new_post_path %></li>
						<li><%= link_to "Manage Posts", posts_path %></li>
						<li><%= link_to "Add Catagory", new_category_path %></li>
						<li><%= link_to "Manage category", categories_path %></li>
						<li><%= link_to "Edit User", user_path(current_user), :class=> 'edit-user' %></li>
						<li><%= link_to "Sign Out", sessions_path, :method => :delete, :class=> 'sign-out' %></li>
					<% else %>
						<li class="sign_in">
							<%= link_to "Sign In", '#', :class=>'sign-in' %>
							<span class="loading icon-spinner icon-spin" style="display:none;"></span>
							<div class="new-session">
							  <%= form_tag sessions_path do %>
							    <p><%= label_tag 'Email' %> <%= text_field_tag :email %></p>
							    <p><%= label_tag 'Password' %><%= password_field_tag :password %></p>
							    <div class="input"><%= submit_tag 'Sign In' %></div>
							  <% end %>
							</div>
						</li>
					<% end -%>

				</ul>

      </div>
    </div>
  </div>
	<div class="row"><div class="logo col-lg-1"><%= image_tag "logo.svg" %></div></div>

</div>
