<p id="notice"><%= notice %></p>

<p>
  <b>Slug Name:</b>
  <%= @attachment.slug_name %>
</p>

<p>
  <b>Attachable type:</b>
  <%= @attachment.attachable_type %>
</p>

<p>
  <b>Attacher:</b>
  <%= @attachment.user ? @attachment.user.name : "No Attacher" %>
</p>

<p>
  <span><%= link_to(fa_icon("caret-square-o-down", text:"Insert Into Content"), '#test') %></span>
</p>
<p>
  <span><%= link_to(fa_icon("clipboard", text: "Copy to Clipboard"), '#test') %></span>
</p>
<p>
  <span><%= link_to fa_icon("edit", text:'Edit'), edit_post_attachment_path(@post,@attachment) %></span>
</p>
<p><%= link_to fa_icon("minus-square",text:'Destroy'), post_attachment_path(@post,@attachment), method: :delete, data: { confirm: 'Are you sure?' } %></p>

