<p id="notice"><%= notice %></p>

<p>
  <b>Slug Name:</b>
  <%= @attachment.slug_name %>
</p>

<p>
  <b>Attachable type:</b>
  <%= @attachment.attachable_type %>
</p>

<p>
  <b>Attacher:</b>
  <%= @attachment.user ? @attachment.user.name : "No Attacher" %>
</p>

<p>
  <span>Insert Into Content</span>
</p>
<p>
  <span>Copy to Clipboard</span>
</p>

<%= link_to 'Close', "#" %>
