<ul id="post_menu">
<li class="attachments_menu_button button">
  <a href="<%=post_attachments_path(@post.id)%>" id="attachment_button">Attachments</a>
  <div id="attachment_menu">
    <div id="attachment_index">
    </div>
    <div id="attachment_show_edit">
    </div>
  </div>
</ul>

<%= form_for(@post, :html => { :multipart => true } ) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :image %>
  </div>

  <div class="actions">
      <%= icon_submit_link("icon-save", "Save", "submit") %>
  </div>

<% end %>
