<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
 <p> 
  <b>Image:</b>
  <%= image_tag @post.image %>
 </p>
<p>  
	<iframe id="preview"></iframe>
</P>


	<script>
		$(function(){
			window.updateiFrame("#preview","<%= j(raw @post.html) %>","<%= j @post.css %>", "<%= j @post.javascript %>");
  	 });
  </script>
<% if logged_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', :back %>
