<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Brian Mehrman" %></title>

    <% if content_for?(:css) %>
      <%= yield :css %>
    <% else %>
      <%= stylesheet_link_tag  "application" %>
    <% end -%>

    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
      <% if content_for?(:navigation) %>
        <%= yield :navigation %>
      <% else %>
        <%= render "shared/navigation" %>
      <% end -%>
      <section class="main-section">
        <% if content_for?(:header) %>
          <%= yield :header %>
        <% else %>
          <%= render "shared/header" %>
        <% end -%>

        <%= yield %>

        <% if content_for?(:footer) %>
          <%= yield :footer %>
        <% else %>
          <%= render "shared/footer" %>
        <% end -%>
      </section>
        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <%= javascript_include_tag "vendor/modernizr" %>
     <% if content_for?(:javascript) %>
      <%= yield :javascript %>
    <% else %>
      <%= javascript_include_tag "application" %>
    <% end -%>
  </body>
</html>
