<!DOCTYPE html>
<html>
<head>
  <title>PortfolioBlog</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%# javascript_include_tag "parallax" %>
  <% if content_for?(:javascript) %>
    <%= yield :javascript %>
  <% end %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
  	<%= yield :head %>
  <% end %>
  </head>
<body>
	<div id="wrapper" class="container-fluid">
		<% if content_for?(:header) %>
			<%= yield :header %>
		<% else %>
			<%= render "shared/header" %>
		<% end -%>
      <% if content_for?(:navigation) %>
        <%= yield :navigation %>
      <% else %>
        <%= render "shared/navigation" %>
      <% end -%>

      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% else %>
        <%= render "shared/sidebar" %>
      <% end -%>
		<%= yield %>

		<% if content_for?(:footer) %>
			<%= yield :footer %>
		<% else %>
			<%= render "shared/footer" %>
		 <% end -%>
	</div>

</body>
</html>
